@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, cupcake;
}
body {
    font-family: "Rancho", cursive;
}
li a.active {
  background-color: rgb(34, 24, 24);
}